<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.isha.yojna"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="com.isha.tummyfullcustomer.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.isha.yojna.Registeration_Screen1"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.isha.yojna.Splash_Screen"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.isha.yojna.MainScreen"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.isha.yojna.NotifySMSReceived"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.isha.yojna.Registeration_Screen2"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.isha.yojna.Registeration_Screen3"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.isha.yojna.Registeration_Screen4"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.isha.yojna.Screen1"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.isha.yojna.Screen2"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.isha.yojna.Screen3"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.isha.yojna.Screen4"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.isha.yojna.Screen5"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.isha.yojna.Screen6"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.isha.yojna.Readmail1"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.isha.yojna.Readmail2"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.isha.yojna.LetMeScan1"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.isha.yojna.LetMeScan2"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.isha.yojna.LetMeScan3"
            android:screenOrientation="portrait" >
        </activity>

        <receiver android:name="com.isha.yojna.NetworkConnectionChangeReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.SCREEN_OFF" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
                <action android:name="android.intent.action.BATTERY_CHANGED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>